@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-tomato: hsl(4, 100%, 67%);
  --Dark-slateGray: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}
* {
  font-family: "Roboto", sans-serif;
}
body {
  font-size: clamp(14px, 4vw, 16px);
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.top-container {
  background: url(/images/illustration-sign-up-mobile.svg);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
input[type="email"] {
  transition: all 0.3s ease-in-out; 
}
.modal-popup {
  display: none;
}
.modal-popup.show {
  display: flex;
}